@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;600;700;900&display=swap');
/* wholw page */
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    opacity: 5;
    transition: opacity 3s;
}

html {
  scroll-behavior: smooth;
}

p {
  color:rgb(85, 85, 85)
}

a, .btn{
  transform:  300ms ease;
}

.nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}

.nav .link ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  font-size: 1.5rem;
  list-style: none;
}

.nav .link ul a {
  text-decoration: none;
  color: #02081d;
  font-weight: 600;
  transition: .5s;
}

ul a .active {
  color: #f78366;
}

.nav .link ul a:hover {
  color: #3acae4;
}

.hero {
    width: 100%;
    padding-bottom: 0;

}
.About {
    font-size: large;
    color: #2ca6b6;
    font-weight: 600;
    position: left;
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;

}

.home .men {
    width: 400px;
    transition: all 2000ms ease;
    cursor: pointer;
}

.home .men:hover{
    transform: scale(1.3);
}

.home .home-content {
    text-align: center;
    color: #070707;
}

.home .home-content h1 {
    font-size: 50px;
    position: relative;

}


.home-content h3 {
    font-size: 30px;
    margin-bottom: 10px;
    background: #afeef2;
    max-width: 800px;
}

.home .btn button {
    padding: 8px 20px;
    background: transparent;
    border-radius: 10px;
    border: 1px solid #2a2a2a;
    margin-right: 1rem;
    margin-bottom: 15px;
    cursor: pointer;
}

.home .btn .btn-2 {
    padding: auto;
    background: #2a2a2a;
    color: #fff;
    border: none;
    outline: none;
    transition: all 2000ms ease-in-out;

}

.home .btn .btn-2:hover {
    background: #288fe9;
    transform: scale(1.1);
}

.social i {
    color: #2a2a2a;
    font-size: 40px;
    margin: 0px 14px;
    transition: all 2000ms ease-in-out;
    cursor: pointer;
    border: 2px solid #2a2a2a;
    border-radius: 10%;
    margin-bottom: 10px;
}


.social i:hover {
    color: #14bee8;
}
/* key frame animation */
@keyframes showRight {
    100%{
        width: 0;
    }
}


.Skills {
  color: #2a2a2a;
  font-size: 40px;
  margin: 0px 14px;
  transition: all 2000ms ease-in-out;
  cursor: pointer;
  border: 2px solid #2a2a2a;
  margin-bottom: 10px;
}
.Skills :hover {
  color: #f58282;
}
/* key frame animation */

@keyframes showRight {
  100%{
      width: 0;
  }
}
/* Experience */

@import url("https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900");
@import url("https://fonts.googleapis.com/css?family=Cabin:700");
html, body {
  width: 100%;
  height: 100%;
}

.container {
  margin-top: 30px;
  margin-bottom: 0px;
  font-family: "Maven Pro", sans-serif;
  color: #E0E0E0;
  background-color: #272626;
  position: relative;
  padding-top: 10px;
  padding-top: 10px;
  -webkit-tap-highlight-color: rgba(224, 224, 224, 0.2);
}

section {
  min-height: 100vh;
  padding-top: 50px;
}
@media (max-width: 768px) {
  section {
    padding-top: 10px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

a {
  transition: all 0.2s ease-in-out;
  color: #009688;
}
a:hover, a:focus {
  text-decoration: none;
  color: #00302c;
}

.sectionHeading {
  margin-bottom: 20px;
  color: #009688;
}

::-moz-selection {
  background: #fcfcfc;
  background: rgba(224, 224, 224, 0.2);
  text-shadow: none;
}

::selection {
  background: #fcfcfc;
  background: rgba(224, 224, 224, 0.2);
  text-shadow: none;
}

img::-moz-selection {
  background: transparent;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

.shadow-nohover {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}

@-webkit-keyframes animatop {
  0% {
    opacity: 0;
    bottom: -500px;
  }
  100% {
    opacity: 1;
    bottom: 0px;
  }
}

@keyframes animatop {
  0% {
    opacity: 0;
    bottom: -500px;
  }
  100% {
    opacity: 1;
    bottom: 0px;
  }
}
@-webkit-keyframes rotatemagic {
  0% {
    opacity: 0;
    transform: rotate(0deg);
    top: -24px;
    left: -253px;
  }
  100% {
    transform: rotate(-30deg);
    top: -24px;
    left: -78px;
  }
}
@keyframes rotatemagic {
  0% {
    opacity: 0;
    transform: rotate(0deg);
    top: -24px;
    left: -253px;
  }
  100% {
    transform: rotate(-30deg);
    top: -24px;
    left: -78px;
  }
}
h3 {
  margin: 20px 0;
}

.experience {
  border-left: 3px solid #009688;
  padding: 0 30px;
  margin-left: 185px;
}
@media (max-width: 767px) {
  .experience {
    margin-left: 0;
    padding-right: 0;
  }
}
.experience .item {
  position: relative;
  margin-bottom: 40px;
}
.experience .item::before {
  content: "";
  position: absolute;
  left: -43px;
  top: 0;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: #000000;
  border: 3px solid #009688;
}
.experience .item::after {
  content: "";
  position: absolute;
  left: -37px;
  top: 6px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #009688;
}
.experience .company-name {
  color: #009688;
}
.experience .location {
  position: absolute;
  right: 0;
  top: 2px;
}
.experience .location .fa {
  margin-right: 8px;
}
.experience .job-info {
  position: absolute;
  left: -185px;
  top: 0;
}
.experience .job-info .title {
  color: #009688;
}
@media (max-width: 767px) {
  .experience .job-info {
    position: static;
    margin-bottom: 1rem;
  }
}
.contact{
  height:50%;
  background:rgb(221, 219, 219);
}

#contact-title{
  font-weight:bold;
  color:grey;
  border-bottom:solid 1px grey;
}


.con-info {
  font-size:2.5em;
  color:white;
  float:center;
}

.con-info h4 a :hover{
  color:#ff6060;
 
}

#final{
   font-family: 'Raleway', sans-serif;
  border-top:solid 0.5px;
}

/*css for map*/
.iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* Ratio 16:9 ( 100%/16*9 = 56.25% ) */
}
.iframe-container > *{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
